# Compiler files
cache/
out/

# Dependencies
lib/
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testing
coverage/

# Production
dist/
build/

# Misc
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turbo
.turbo

# Foundry broadcast
broadcast/

# Anchor
.anchor/
test-ledger/

# Logs
*.log
.claude/skills/ui-ux-pro-max/data
.claude/skills/ui-ux-pro-max/scripts
.claude/skills/ui-ux-pro-max/SKILL.md
